language: python
dist: xenial
python:
  - 3.5
  - 3.6
  - 3.7
install:
  - pip install -r requirements-dev.txt
  - pip install coveralls
script:
  - pip install -e .
  - py.test
  - mypy result/result.py
after_success:
  - coveralls
