on:
  push:
    branches:
      - master
  pull_request:

name: CI

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - '3.5'
          - '3.6'
          - '3.7'
          - '3.8'
    name: Python ${{ matrix.python }}
    steps:
      # Python
      - name: Setup python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      # Check out code
      - uses: actions/checkout@v2

      # Cached dependencies
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-py${{ matrix.python }}-${{ hashFiles('**/requirements-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-py${{ matrix.python }}-
      - name: Install dev dependencies
        run: pip install -r requirements-dev.txt

      # Install library
      - name: Install result
        run: pip install -e .

      # Tests
      - name: Run tests
        run: pytest --cov-report term --cov-report xml:coverage.xml
      - name: Run mypy on result.py
        run: mypy result/result.py
      - name: Run typetests
        run: mypy result/typetests.py
      - name: Run type checking across examples
        env:
          EXAMPLE_FILES: examples/without_result.py examples/with_result.py
        run: for f in $EXAMPLE_FILES; do mypy $f; done

      # Coverage
      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v1
        if: matrix.python == '3.8'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
